/*
Media Queries
*/

@media only screen and (min-width: 992px){
  /* Ipad Landscape 1024 Container 970 */
  .service-list { margin-bottom: 30px; }
  .main-nav { display: block !important; }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
/*Ipad Portrait 768 Container 750*/
  body{ font-size: 13px; }
  p{ line-height: 20px; }
  .header h1{ font-size: 46px; }
  .main-nav ul li a {padding: 14px; }
  h2 { font-size: 30px; }
  h3{ font-size: 15px;}
  h6{font-size: 16px;}
  .service-list{ margin-bottom: 20px; font-size: 15px; }
  .about-content{font-size: 15px; }
  .main-section{ padding: 70px 0;}
  .main-nav { display: block !important; }
  .main-nav li a { padding: 8px 15px; }
}

@media only screen and (max-width: 767px) {
  /*Mobile Landscape 480 Container 100%*/
  body{ font-size: 12px; }
  h2 { font-size: 26px; }
  h3{ font-size: 14px;}
  h6{font-size: 16px; margin-bottom: 40px; }
  p{line-height: 18px; }
  .service-list{ font-size: 12px; margin-bottom: 20px; }
  .about-content{font-size: 12px; }
  .header{ padding: 60px 0;}
  .header h1{ font-size: 28px; }
  .main-section { padding: 60px 0 70px; }
  .main-nav{ display: none; position: absolute; left: 0; width: 100%;  margin: 55px auto; float: none; background: #f5f5f5 !important; }
  .main-nav li{ display: block; }
  .main-nav li a{ display: block; padding: 7px 32px; border-bottom: none; }
  .main-nav li a:hover{color: #7cc576; }
  .logo-in-nav { display: none; }
  .res-nav_click{display: block; }
  .link{font-size: 14px; padding: 10px 25px; }
  .logo{width: 100px;}
  .copyright{font-size: 12px; }

}

@media only screen and (max-width: 479px){
  /*mobile Portrait 320*/
  .header{padding: 40px; }

}
