/* Reset - Primary Styles
------------------------*/
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	background:#fff;
  color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	margin:0;
  padding: 0;
}

h2{
  color:#222222;
	font-size:34px;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
}

h3{
  color:#222222;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
  font-weight:400;
	margin:0 0 5px 0;
	text-transform:uppercase;
}

h6{
  color:#888888;
  font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:400;
	margin:0 0 60px 0;
  text-align:center;
}

p{
	line-height:24px;
	margin:0;
}

a, a:hover, a:active {
  text-decoration: none;
  outline: 0px !important;
}

html, body{
  height: 100%;
}

fieldset, img{
  border: 0;
}

/*Header Styles
-----------------------------------*/
.header{
  align-items: center;
  background: url(../img/pw_maze_black_2X.png) left top repeat;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.logo{
  margin: 0 auto 35px;
  width: 130px;
}

.header h1{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -1px;
  text-shadow: 2px 2px #222;
}

.header ul{
  margin: 25px 0 45px;
}

.header ul li{
  color: #bcbcbc;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin:0 5px 0 0;
  padding: 0 0 0 15px;
  text-transform: uppercase;
}

.link{
  padding: 15px 35px;
  background: #7cc576;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 25px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.link:hover{
  color: #7cc576 !important;
  background: #fff;
}

.link:active, .link:focus{
  background: #7cc576;
  color: #fff !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
  padding: 0px;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 4px 5px -3px #ececec;
  position: relative;
  background: #fff;
}

.main-nav{
  text-align: center;
  margin: 0;
  list-style: none;
}

.main-nav li{
  display: inline;
  margin: 0 1px;
}

.main-nav li a{
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  line-height: 27px;
  margin: 17px 32px;
  transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.main-nav li a:hover{
  color: #7cc576;
}

.logo-in-nav{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

/* Main section start
---------------------------------*/
.main-section{
  position: relative;
  height: 100%;
  text-align: center;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar{
  padding-top: 60px;
}

.avatar img{
  width: 500px;
  border-radius: 50%;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.delay-03s {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.delay-04s {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.delay-07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}
.delay-08s {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.delay-09s {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}
.delay-1s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.delay-12s {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
